astunparse==1.6.3
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
Deprecated==1.2.14
dill==0.3.7
fonttools==4.42.0
importlib-resources==6.0.1
kiwisolver==1.4.4
markdown-it-py==3.0.0
matplotlib==3.7.2
mdurl==0.1.2
numpy==1.24.4
packaging==23.1
Pillow==10.0.0
Pygments==2.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
rich==13.5.2
six==1.16.0
taichi==1.6.0
typing_extensions==4.7.1
vedo==2023.4.6
vtk==9.2.6
wrapt==1.15.0
zipp==3.16.2
